<div class="wrap-chart">
           
            <div class="chart-body clearfix">
                   
                   
                    <div class="second-chart">
                        
                     <div id="wrap">
                            <div class="title">汇聚数据</div> 
                             <div id="rect-set" class="clearfix">
                              <div class="rect" style="background-color: rgb(50,150,160);">
                                    <p>[[total]]</p>
                                    <p>数据总量</p>
                              </div>
                              <div class="rect" style="background-color: rgb(213,167,30);" >
                                   <p>17.921亿</p>
                                    <p>省厅数据</p>
                              </div>
                              <div class="rect" style="background-color: rgb(39,171,49);">
                                  <p>7.070亿</p>
                                    <p>地市数据</p>
                              </div>
                                <div class="rect" style="background-color: rgb(168,108,195);">
                                    <p>0</p>
                                    <p>社会数据</p>
                                </div>
                             
                             </div>
                         <div id="circle-set" class="clearfix">
                                    <div>
                                    <div class="circle" style="background-color: rgb(162,160,42)">[[count]]</div>
                                    <div class="instruction">资源总数</div> 
                                    </div>
                                     <div>
                                    <div class="circle" style="background-color: rgb(52,162,142);">[[yw]]</div>
                                    <div class="instruction">业务条线</div> 
                                    </div>
                                     <div>
                                    <div class="circle"  style="background-color: rgb(114,112,29);">[[ys]]</div>
                                    <div class="instruction">业务单位</div> 
                                    </div>
                                     <div>
                                    <div class="circle" style="background-color:rgb(73,114,29);">[[lyxt]]</div>
                                    <div class="instruction">业务系统</div> 
                                    </div>
                                     <div>
                                    <div class="circle" style="background-color: rgb(31,114,29);">[[lysjy]]</div>
                                    <div class="instruction">源数据源</div> 
                                    </div>
                                     <div>
                                    <div class="circle" style="background-color:rgb(29,114,70);">[[lydw]]</div>
                                    <div class="instruction">服务接口</div> 
                                    </div>
                             
                         </div>
                     </div>
                      </div>

                     <div class="firt-chart">
                        
                         <div id="container0" style="height:270px;background: #ffffff" ></div>                                          
                     
                    </div>

                    <div class="third-chart" style="height:100%">
                    
                       <div id="container" style="height:400px;width:100%;background: #ffffff">                       
                     </div>
                     </div> 
                   
            </div>
     </div>